@import '../../../_colors.scss';


.controllers-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: calc(100vh - 50px);
    background-color: rgba(0,0,0,0.4);
    overflow-y: auto;

}

.controller-list-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.controllers-wrapper{
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    
}




.contro-item{
    // padding-left: 15px;
    // padding-right: 15px;
    // padding-top: 20px;
    // padding-bottom: 20px;

    margin: 20px;
    height: 100%;
    width: 313px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    border-radius: 2px;
    background: $light-color;

}

.contro-inner-container{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    max-width: 240px;
    justify-content: center;
    
}

.contro-item-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;

    
}







.contro-item-title{
    font-size: 20px;
    // border: 1px solid black;
   
    width: 100%;
    text-align: center;
    // background-color: grey;

    input{
        text-align: center;
        font-size: 20px;
        color: black;
        height: 100%;
        outline: none;
        width: 80%;
        background: transparent;
        border: none;
        // border-bottom: 1px dashed black;
    }
    ::-webkit-input-placeholder {
        text-align: center;
        color: #595959;
        font-size: 20px;
        font-weight: 300;
    }

    ::-webkit-input-placeholder:focus {
        opacity: 0;
    }
    
}

.contro-item-inputs{
    display: flex;
    flex-direction: column;  
    // background: grey;
    width: 80%;
    margin-bottom: 30px;
}

.contro-input-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;
    width: 100%;
   
}

.contro-row-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    min-height: 60px;
}

.contro-row-name{
    font-size: 22px;
    text-align: left;
    width: 100%;
    color: #595959;
}

.contro-input-field{
    margin-top: 10px;
    height: 30px;
    width: 100%;
    outline: none;
    
    
}




.add-contro-item{
    margin: 20px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    border-radius: 2px;
    border: none;
    height: 320.2px;
    width: 313px;
    outline: none;
    background-color: $secondary;
    color: white;
}



.add-contro-item-inner{
    width: 100%;
    height: 100%;
}


.add-contro-item-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
   
    img{
        margin-top: 10%;
        width: 50%;
        height: 50%;
    }
    
}

.add-contro-item-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;

    label{
        font-size: 24px;
        font-weight: bold;
        color: white;
    }
    
}

















