
.register-container{
    display: flex;
    align-items: center;
    height: 100vh;
}

.reg-header{
    display: block;
    width: 100%;
    height: 72px;
    background: #4B4B4B;
    display: flex;
    justify-content: center;
    align-items: center;
}

.option-container {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 1000px;
    height: 540px;
    margin-left: auto;
    margin-right: auto;
}

.option-container-inner{
    display: flex;
    justify-content: center;
    width: 840px;
    height: 500px;
}

.placeholderiv{
    width: 379px;
    background: lightgrey;
}

.option-divider {
    height: 420px;
    width: 1px;
    background: black;
}


.create-account-outter{
    display: flex;
    justify-content: flex-end;
    width: 379px;
}

.create-account-inner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 379px;

    input {
        padding-left: 5px;
        font-size: 20px;
        color: #95989A;
        text-align: left;
        font-weight: normal;
        outline: none;
        border-radius: 3px;
        border: 1px solid #dbdbdb;
        -webkit-box-shadow-: inset 0 1px 2px rgba(10, 10, 10, 0.1);
        box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
       }
}



.reg-field{
    display: flex !important;
    flex-direction: column !important;

    input{
        height: 40px;
        outline: none;
        transition: 0.2s ease-in-out;
    }
    label{
        margin-bottom: 8px;
    }

    .reg-info{
        height: 30px;
        margin-top: 5px;
        margin-bottom: 0 !important;
        text-align: left;
        font-size: 0.75rem;

        .valid-text{
            display: none;
        }

        .invalid-text{
            display: none;
        }
    }


}


.reg-field--fail{
    input{
        border: #FF3560 solid 1px !important;
        transition: 0.2s ease-in-out;
    }
    label{
        margin-bottom: 8px;
    }

    .reg-info{
        min-height: 18px;
        margin-top: 5px;
        margin-bottom: 0 !important;
        text-align: left;
        font-size: 0.75rem;
        transition: 0.2s ease-in-out;

        .valid-text{
            display: none;
        }

        .invalid-text{
            margin-top: 0;
            margin-bottom: 0;
            display: block;
            color: #FF3560;
            transition: 0.2s ease-in-out;
        }
    }
}


.reg-field--success{
    input{
        border: #00D16E solid 1px !important;
        transition: 0.2s ease-in-out;
    }
    label{
        margin-bottom: 8px;
    }

    .reg-info{
        min-height: 18px;
        margin-top: 5px;
        margin-bottom: 0 !important;
        text-align: left;
        font-size: 0.75rem;
        transition: 0.2s ease-in-out;

        .valid-text{
            margin-top: 0;
            margin-bottom: 0;
            display: block !important; 
            color: #00D16E;
            transition: 0.2s ease-in-out;
        }

        .invalid-text{
            display: none;
        }
    }
}
.create-account-tag {
        font-size: 45px;
        line-height: 44px;
        font-weight: 100;
        margin-top: 0;
        text-align: left;
        margin-bottom: 28px;
        font-weight: normal;
}

.reg-btn-footer{
    display: flex;
    justify-content: flex-start;
    height: 50px;
}

.create-account-btn {
    font-size: 20px;
    width: 100%;
}
.input-tag {
    font-size: 20px;
    text-align: left;
}

.input-solo {
    height: 40px;
}

.create-account-btn {  
    width: 270px;
    height: 50px;
}

.reg-firstName{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
   
    input{
        max-width: 170px;
    }

    .reg-info{
        display: flex;
        justify-content: flex-start;
        width: 170px; 
       
    }

    .invalid-text{
        display: none;
    }
}

.reg-firstName--fail{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    input{
        border: 1px solid #FF3560 !important;
    }
    .invalid-text{
        margin-right: auto;
        text-align: left;
        margin-top: 0;
        margin-bottom: 0;
        display: block !important;
        color: #FF3560;
        transition: 0.2s ease-in-out;
    }
}

.reg-lastName{
    display: flex;
    flex-direction: column;
    
    align-items: flex-end;

    input{
       
        max-width: 170px;
    }

    .reg-info{
        display: flex;
        justify-content: flex-start;
        width: 100%;
        
    }
    .invalid-text{
        display: none;
    }
    
}

.reg-lastName--fail{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    input{
        border: 1px solid #FF3560 !important;
    }
    .invalid-text{
        margin-right: auto;
        text-align: left;
        margin-top: 0;
        margin-bottom: 0;
        display: block !important;
        color: #FF3560;
        transition: 0.2s ease-in-out;
    }
    
}

.reg-combined-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;   
}




.pass {
    background: grey;
}

.fail {
    background: lightslategrey;
}