.login-parent{
  display: flex;
  justify-content: center;
  z-index: 1;
}
  
  .login-container {
    width: 450px;
    height: 100vh;
    // border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    z-index: 2;
    background: white;
  }
  
  .login-top {
    height: 115px;
    width: 100%;
  /*   border: 1px solid black; */
    display: flex;
    align-items: flex-end;
    z-index: 2;
  }
  
  .logo-container {
    width: 150px;
    height: 45px;
  /*   border: 1px solid black; */
  }
  
  .logo-login {
    height: 45px;
    font-size: 30px;
    display: flex;
    justify-content: flex-end;
  }
  
  .login-middle {
    height: 215px;
    width: 100%;
  /*   border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .usr-pswd-container{
    height: 175px;
    width: 275px;
  /*   border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    input {
      font-size: 20px;
      color: #95989A;
      text-align: left;
      font-weight: 300;
     }

    ::-webkit-input-placeholder {
        font-size: 20px;
        color: #CCC;
        text-align: left;
        font-weight: 300;
    }
  }
  
  .usr-pswd-row {
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 275px;
    height: 40px;
    border: 1.5px solid #CCC;
    background: transparent;
  }
  
  .lgn-icon-con{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
  /*   border: 1px solid black; */
  }
  
  .lgn-icon {
    width: 25px;
    height: 25px;
    background: transparent;
    
  }
  
  .usr-pswd-input {
    height: 34px;
    width: 100%;
    border-style: none;
    outline: none;
  }
  
  .login-btn-con {
    display: flex;
    height: 50px;
  /*   border: 1px solid black; */
    justify-content: flex-end;
  }
  
  // .login-btn{
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   width: 105px;
  //   background-color: #4A4A4A;
  //   color: white;
  //   border-style: none;
  //   font-size: 18px;
  //   border-radius: 3px;
  //   outline: none;
  //   height: 50px;
  //   cursor: pointer;
  //   button{
  //     height: 50px;
  //   }

  //   &:hover {
  //     background-color: #393939; 
  //   }
    
  //   &:active{
  //     background-color: #2b2b2b;
  //   }
  // }

  // .login-btn a {
  //   color: white;
  //   text-decoration: none;
  // }
  
  .login-bottom {
    height: 115px;
    width: 100%;
    display: flex;
    align-items: flex-end;
  }