/*COLOR SCHEME IDEAS FOR APP*/

.color-one {
    color: #131515;
    color: #2B2C28;
    color: #339989;
    color: #7DE2D1;
    color: #FFFAFB;
}

.color-two {
    color: #011627;
    color: #FF3366;
    color: #2EC4B6;
    color: #F6F7F8;
    color: #20A4F3;
}

.color-three {
    color: #1F271B;
    color: #0B4F6C;
    color: #145C9E;
    color: #CBB9A8;
    color: #DCC7BE;
}

.color-four {
    color: #32292F;
    color: #99E1D9;
    color: #F0F7F4;
    color: #70ABAF;
    color: #705D56;
}

color-five {
    color: #305252;
    color: #373E40;
    color: #B7D5D4;
    color: #70ABAF;
    color: #FF8484;
}

