.tracking-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: 100%;
    overflow-x: hidden;
    
    
}

.project-header{
    display: flex;
    justify-content: flex-start;
    height: 90px;
    width: 100%;
    padding-top: 15px;
    font-size: 20px;

    label{
        padding-left: 30px;
    }
}



.tracking-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 91%;
    align-items: center;
    overflow-x: visible;
    z-index: 0;

    .project-items-container{
        position: relative;
        white-space: nowrap;
          z-index: 0;
          width: 100%;
          overflow-x: auto;
        // justify-content: flex-start;
        // display: flex;
        height: 100%;
        
        // width: 98%;
        overflow-x: auto;
        overflow-y: hidden;
        padding-bottom: 20%;
        z-index: 0;


        &::-webkit-scrollbar {
            height: 15px;
            -webkit-overflow-scrolling: touch;
        }
        
    
        &::-webkit-scrollbar-track {
            margin-left: 3%;
            margin-right: 3%;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
            -webkit-border-radius: 10px;
            border-radius: 10px;
        }
     
    
        &::-webkit-scrollbar-thumb {
            -webkit-border-radius: 10px;
            border-radius: 10px;
            background-color: rgba(50, 50, 50, 0.80); 
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
            
        }
        &::-webkit-scrollbar-thumb:window-inactive {
            background-color: rgba(50, 50, 50, 0.40); 
            
        }
    }
}




 




.add-list-wrapper{
   
    display: inline-flex;
    max-width: 100%;
    height: 100%;

    white-space: nowrap;
    margin-left: 20px;
    margin-right: 10px;
    
   
    

 
 
    // height: 80vh;
    // margin-bottom: auto;
    

}
.add-list{
    display: flex;
    align-items: center;
    height: 40px;
    width: 270px;
    border-radius: 4px;
    background: #E2E4E6;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    white-space: nowrap;
    
    background: black;
    opacity: 0.2;
    transition: 0.2s ease-in-out;

    label{
        color: white;
        padding-left: 10px;
    }

    &:hover{
        opacity: 0.5;
        transition: 0.2s ease-in-out;

    }
}