.tracking-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: calc(100vh -50px);
    overflow-x: hidden; 
    background-color: rgba(0,0,0,0.4);  
}

.project-header{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 28px;

    label{
       color: white;
       font-size: 36px;
       font-weight: bold;
    }
}

.tracking-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 100%;
    align-items: center;
    z-index: 0;

    .project-items-container{
        display: flex;
        align-items: flex-start;
        white-space: nowrap;
        padding-left: 10px;
        width: 100%;
        overflow-x: auto;
        height: calc(100vh - 150px);
        overflow-x: auto;
        overflow-y: hidden;
        z-index: 0;

        &::-webkit-scrollbar {
            height: 15px;
            -webkit-overflow-scrolling: touch;
        }
        
    
        &::-webkit-scrollbar-track {
            margin-left: 3%;
            margin-right: 3%;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
            -webkit-border-radius: 10px;
            border-radius: 10px;
        }
     
    
        &::-webkit-scrollbar-thumb {
            -webkit-border-radius: 10px;
            border-radius: 10px;
            background-color: rgba(50, 50, 50, 0.80); 
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
            
        }
        &::-webkit-scrollbar-thumb:window-inactive {
            background-color: rgba(50, 50, 50, 0.40);       
        }
    }
}

.add-list-wrapper{
    display: inline-flex;
    max-width: 100%;
    max-height: 100%;
    white-space: nowrap;
    margin-left: 5px;
    padding-right: 50px;
}

.add-list--before{
    display:block;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    margin-right: 10px;
    display: flex;
    margin-bottom: auto; 
    margin-right: 10px;  
    max-height: 100%;
    width: 270px;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    white-space: nowrap;
    background: black;
    opacity: 0.3;
    transition: 0.2s ease-in-out;

    input{
        display: block;
        color: white;
        width: 100%;
        background: transparent;
        border: none;
        outline: none;
        height: 32px;
        line-height: 20px;
        font-size: 18px;
    }

    &:hover{
        opacity: 0.6;
        transition: 0.2s ease-in-out;

    }

    .add-list-btn-set{
        display: none;
        flex-direction: flex-start;
        width: 100%;
        margin-top: 0px;

        button{
            font-weight: bold;
            line-height: 22px;
            border: none;
            border-radius: 3px;
            display: none;

        }
    }
}

.add-list--after{
    display: block;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 8px;
    margin-right: 10px;  
    margin-left: auto;
    display: flex;
    max-height: 100%;
    width: 270px;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    white-space: nowrap;
    background: #E2E4E6;
    opacity: 1;
    transition: 0.2s ease-in-out;

    .add-list-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 70px;
    }

    input{
        padding-left: 5px;
        display: block;
        color: black;
        width: 100%;
        background: white;
        border: none;
        border-radius: 4px;
        outline: none;
        height: 32px;
        font-size: 18px;
        border: 1px #CCC solid;
    }

    &:hover{
        opacity: 1;
    }

    .add-list-btn-set{
        display: flex;
        flex-direction: flex-start;
        
        button{
            display: block;
            margin-right: 5px;
            max-height: 100%;
        }
    }
}