.cardview-parent{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 20;
}


.cardview-container{
    // border: 1px solid red;
    z-index: 20;
    
}

.cardview-inner{
    display: flex;
    width: 600px;
    height: 350px;
    padding: 10px;
    background: white;
    z-index: 20;
    border-radius: 5px;
}
.cardview-left{
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    // border: 1px solid red;

    .cardview-header{
        width: 100%;
        height: 50px;
        // border: 1px solid red;

        .cardview-title{
            // border: 1px solid red;
            width: 100%;

            text-align: left;
            line-height: 25px;
            font-size: 20px;
        }

        .cardview-fromlist{
            padding-left: 5px;
            // border: 1px solid red;
            width: 100px;
            text-align: left;
            line-height: 25px;
            font-size: 14px;
        }
    }

    .cardview-body{
        height: 190px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

            textarea{
                height: 120px;
                min-width: 394px;
                width: 99%;
                resize: none;
                outline: none;
              
            }

            button{
                width: 64px;
                height: 30px;
            }
        }
           
        
    

    .cardview-footer{
        width: 100%;
        height: 50px;
        // border: 1px solid red;
    }
}

.cardview-right{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100%;
    // border: 1px solid blue;

    .cv-side-title {
        width: 100%;
        text-align: left;
        font-size: 18px;
        margin-bottom: 10px;
    }

    .top-con{
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        height: 30px;
        width: 100%;
        // border: 1px solid blue;
        margin-bottom: 10px;

        span{
            display: flex;
            justify-content: flex-end;
            cursor: pointer;
            
            width: 30px;
            height: 30px;
            font-size: 30px;
            line-height: 15px;
        }

    }

    .side-group-menu{
        margin-bottom: 20px;
        
        max-height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        // border: 1px solid blue;
        width: 100%;

        .side-options{
            width: 100%;
            max-height: 100%;
            display: flex;
            flex-direction: column;
            // border: 1px solid blue;

            button{
                height: 30px;
                width: 100%;
                margin-bottom: 5px;
            }
        }
    }

    .add-con {
        display: flex;
        // border: 1px solid blue;
        
        .add{
            display: flex;
            flex-direction: column;
            // border: 1px solid blue;
        }
    }
}

.delete-task-btn{
    cursor: pointer;
    background: #cf513d;
    border-bottom-color: #b04632;

    :hover{
        background: #cf513d;
        border-color: #cf513d;
        border-bottom-color: #933b27;
    }
}