.header-container {
    display: block;
    width: 100%;
    height: 72px;
    background: #4B4B4B;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
  }
  
  .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
  }
  
  .board-con {
    display: flex;
    width: 260px;
    padding-left: 15px;
  }
  
  .logo {
    font-size: 24px;
    font-family: sans-serif;
    
  }
  
  .board-icon{
    width: 36px;
    height: 36px;
  }
  
  .board-text{
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 10px;
    font-size: 15px;
    font-weight: bold;
    font-family: sans-serif;
  }
  
  .user-con {
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .avatar{
    background: lightgrey;
    width: 36px;
    height: 36px;

    img{
      width: 36px;
      height: 36px;
    }
  }
  
  .hello-user {
    margin-left: 10px;
    font-size: 15px;
    font-weight: bold;
    font-family: sans-serif;
  }
  
  .alert-icon{
    width: 17px;
    height: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .right-menu-container{
    display: flex;
    width:100%;
    height: 330px;
    justify-content: flex-end;
    position: absolute; 
    transition: 0.5s ease-in-out;
  }

  .right-menu-container--hide{
    display: none;
  }

  .right-menu-outter{
    width: 250px;
    height: 330px;
    background: white;
    border: 1px solid black;
  }
  .right-menu-inner {
    display: flex;
    flex-direction: column;
    background: white;
    width: 230px;
    // border: 1px solid black;
    height: 100%;
    margin-left: auto;
    margin-right: auto;

    ul {
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;
    }

    li {
      line-height: 47px;
      list-style: none;
      font-size: 18px;
      text-align: left;
      font-weight: 600;
    }
  }

  .board-menu-container--hide{
    transform: translateX(-331px); 
    position: absolute;
    height: 100vh;
    background-color: white opacity($color: #000000);
    width:330px;
    transition: 0.5s ease-in-out;
  } 

  .board-menu-container{
    transform-origin: translateX(0px);
    width:330px;
    height: 100vh;
    position: absolute;
    border-right: 1px solid black;
    background-color: white ;
    transition: 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .boards-main-container{
    margin-top: 100px;
    width: 250px;
    // border: 1px solid black;
  }

  .recent-boards-con{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .text-12{
    font-size: 12px;
    color: #95989A;
  }

  .personal-boards-con{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .board-menu-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
  }

  .create-board-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
  }

  .board-item-thumbnail {
    width: 40px;
    height: 40px;
    background: #6F6F6F;
    margin-right: 20px;
  }

  .create-board-thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border: 2px solid #C1C1C1;
    margin-right: 20px;
  }

  .plus-symbol{
    font-size: 35px;
    margin: none;
    padding: none;
    font-weight: lighter;
    color: #95989A;
  }

  .board-item-name{
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: #6F6F6F;
  }

  .create-board-name{
    display: flex;
    color: #C1C1C1;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
  }

 


  #bread-menu-toggle{
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px black solid;
    width: 50px;
    height:72px;
    overflow: visible;
  }
  
  .bread-menu{
    width: 24px;
    height: 17px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
   

    
    .bread-top {
      width: 24px;
      height: 2px;
      background-color: white;
    }

    .bread-bottom{
      width: 24px;
      height: 2px;
      background-color: white;
    }


  


















  // animated x

  #bread-menu-toggle, #bread-menu-toggle .bread-top, #bread-menu-toggle .bread-bottom {
    transition: all 0.5s ease-in-out;
  } 

  #bread-menu-toggle .bread-bottom {
    display: block;
    bottom: 3px;
    width: 24px;
    height: 2px;
    background-color: #fff;
    position: relative;
    z-index: 8;
  }

  #bread-menu-toggle .bread-top {
    display: block;
    
     width: 24px;
     height: 2px;
     background-color: #fff;
     position: relative;
     z-index: 9;
   }
  
  #bread-menu-toggle.active .bread-top  {
    position: relative;
  }
  
  #bread-menu-toggle.active .bread-bottom {
    top: 0;
  }
  
  #bread-menu-toggle.active .bread-top {
    
    transform: rotate(45deg);
  }
  
  #bread-menu-toggle.active .bread-bottom {
   
    transform: rotate(-45deg)
  }
  