@import '../../../_colors.scss';

.view-container {
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    // border: 1.5px solid black;
    
}



.view-inner-con {
    margin-top: 0px;
    width: 100%;
    // border: 1.5px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.view-area {
    background: $light-color;
    width: 700px;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    margin: 20px;
    border-radius: 5px;

    .view-wrapper {
        padding: 20px;
    }

    .view-item{
        padding-bottom: 10px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    section{
        display: flex;
        width: 580px;
    }

    label{
        display: flex;
        align-items: center;
        font-weight: bold;
        font-size: 20px;
        max-width: 100%;
        text-align: left;
        margin-right: 10px;
    }
    input{
        height: 24px;
    }
    .view-input-name {
        width: 60%;
       
        margin-right: 20px;
       
        // border: 1px solid black;
    }
    
    .view-input-imgurl {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        
        // border: 1px solid black;
    }

    button{
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 4px;
        height: 30px;
        font-size: 14px;
        background-color: $medium-color;
        color: white;
    }

    .view-footer{
        
          width: 100%;

          button{
              margin-left: 26.5px;
              max-width: 100%;
              background-color: $secondary;
              color: white;
              border-radius: 4px;
          }
      }
}








