.features-body {
    width: 100vw;
}

.features-wrapper {
    display: flex;
    flex-direction: row;
    width: 100vw;
}

.features-area {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features-area input {
    width: 800px;
    height: 30px;
    font-size: 12pt;
}

.features-area button {
    width: 60px;
    height: 30px;
    font-size: 10pt;
}

.features-area h1 {
    margin-top: 100px;
}

.features-input-one {
    width: 900px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.features-input-two {
    width: 900px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.features-add {
    width: 800px;
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
}