@import '../../_colors.scss';

.account-settings-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-section-outter {
    height: 185px;
    background-color: $light-color;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #D6DADC;
    
} 

.profile-section-inner {
    justify-content: center;
    display: flex;
    width: 55%;
    height: 85px;

    .wrapper{
        display: flex;
        justify-content: flex-start;
        width: 85%;
    }
   
   
    // border: 1px solid white;
} 

.avatar-initial{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: white;
    width: 85px;
    height: 85px;
    border-radius: 100px;
    background: $medium-color;
}

.account-section{
    padding-top: 30px;
    width: 55%;
    // border: 1px solid black;
}

.headline-30{
    font-size: 30px;
    text-align: left;
    color: $medium-color;
}

.headline-20{
    font-size: 20px;
    text-align: left;
    color: $medium-color;
}

.headline-22{
    font-size: 20px;
    text-align: left;
    margin: none;
    max-width: 100%;
    // border: 1px solid black;
}

.text-9{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 9px;
    text-align: left;
    margin: none;
    margin-left: 10px;
    padding-top: 10px;
    // border: 1px solid black;
}



.account-options{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 115px;
    width: 209px;
    margin-left: 20px;
    // background: lightgrey;
}

.name-and-username{
    display: flex;
    max-width: 100%;
    height: 28px;
    align-items: flex-start;
    // border: 1px solid black;
    
}

.edit-profile-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 120px;
    background: #E2E4E6;
}

.name-username-edit-con {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70px;
    margin-left: 20px;
}

.button-icon {
    width: 17px;
    height: 17px;
    margin-right: 7px;
}