.register-container{
    display: flex;
    align-items: center;
    height: 100vh;
}

.reg-header{
    display: block;
    width: 100%;
    height: 72px;
    background: #4B4B4B;
    display: flex;
    justify-content: center;
    align-items: center;
}

.option-container {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 1000px;
    // border: 1px solid black;
    height: 540px;
    margin-left: auto;
    margin-right: auto;
}

.option-container-inner{
    display: flex;
    justify-content: space-between;
    width: 840px;
    // border: 1px solid black;
    height: 420px;
}

.placeholder-div{
    width: 379px;
    background: lightgrey;
}



.option-divider {
    height: 420px;
    width: 1px;
    background: black;
}


.create-account-outter{
    display: flex;
    justify-content: flex-end;
    width: 379px;
    // background: lightgrey;
}

.create-account-inner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 379px;

    input {
        font-size: 20px;
        color: #95989A;
        text-align: left;
        font-weight: normal;
       }

    ::-webkit-input-placeholder {
        font-size: 20px;
        color: #95989A;
        text-align: left;
        font-weight: lighter;
    }
}

.create-account-tag {
        font-size: 45px;
        line-height: 44px;
        font-weight: 100;
        margin-top: 0;
        text-align: left;
        margin-bottom: 10px;
        // border: 1px solid black;
}

.reg-btn-footer{
    display: flex;
    justify-content: flex-start;
}

.create-account-btn {
    font-size: 20px;
    background: #EBE2E2;
    color: #95989A;
  
}
.input-tag {
    font-size: 20px;
    text-align: left;

 
}

.input-combined {
    height: 40px;
    width: 170px;
}

.input-solo {
    height: 40px;
}

.form-combined {
    display: flex;
    justify-content: space-between;
}

.create-account-btn {
    width: 270px;
    height: 50px;
}




