

.register-container{
    display: flex;
    align-items: center;
    height: 100vh;
}

.reg-header{
    display: block;
    width: 100%;
    height: 72px;
    background: #4B4B4B;
    display: flex;
    justify-content: center;
    align-items: center;
}

.option-container {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 1000px;
    // border: 1px solid black;
    height: 540px;
    margin-left: auto;
    margin-right: auto;
}

.option-container-inner{
    display: flex;
    // justify-content: space-between;
    justify-content: center;
    width: 840px;
    // border: 1px solid black;
    height: 460px;
}

.placeholder-div{
    width: 379px;
    background: lightgrey;
}



.option-divider {
    height: 420px;
    width: 1px;
    background: black;
}


.create-account-outter{
    display: flex;
    justify-content: flex-end;
    width: 379px;
    // background: lightgrey;
}

.create-account-inner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 379px;

    input {
        font-size: 20px;
        color: #95989A;
        text-align: left;
        font-weight: normal;
        outline: none;
        border-radius: 3px;
        border: 1px solid #dbdbdb;

        -webkit-box-shadow-: inset 0 1px 2px rgba(10, 10, 10, 0.1);
        box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
       }

   


}



.reg-field{
    display: flex !important;
    flex-direction: column !important;

    input{
        outline: none;
    }
    label{
        margin-bottom: 8px;
    }

    .reg-info{
        height: 30px;
        margin-top: 5px;
        margin-bottom: 0 !important;
        text-align: left;
        font-size: 0.75rem;

        .valid-text{
            display: none;
        }

        .invalid-text{
            display: none;
        }
    }
}


.reg-field--fail{
    input{
        border: #FF3560 solid 2px !important;
    }
    label{
        margin-bottom: 8px;
    }

    .reg-info{
        min-height: 18px;
        margin-top: 5px;
        margin-bottom: 0 !important;
        text-align: left;
        font-size: 0.75rem;

        .valid-text{
            display: none;
        }

        .invalid-text{
            margin-top: 0;
            margin-bottom: 0;
            display: block;
            color: #FF3560;
        }
    }
}


.reg-field--success{
    input{
        border: #00D16E solid 2px !important;
    }
    label{
        margin-bottom: 8px;
    }

    .reg-info{
        min-height: 18px;
        margin-top: 5px;
        margin-bottom: 0 !important;
        text-align: left;
        font-size: 0.75rem;

        .valid-text{
            margin-top: 0;
            margin-bottom: 0;
            display: block !important; 
            color: #00D16E;
        }

        .invalid-text{
            display: none;
        }
    }
}
.create-account-tag {
        font-size: 45px;
        line-height: 44px;
        font-weight: 100;
        margin-top: 0;
        text-align: left;
        margin-bottom: 28px;
        // border: 1px solid black;
}

.reg-btn-footer{
    display: flex;
    justify-content: flex-start;
}

.create-account-btn {
    font-size: 20px;
}
.input-tag {
    font-size: 20px;
    text-align: left;

 
}

.input-combined {
    height: 40px;
    width: 170px;
}

.input-solo {
    height: 40px;
}

.form-combined {
    display: flex;
    justify-content: space-between;
}

.create-account-btn {
    margin-top: 28px;
    width: 270px;
    height: 50px;
}




