

.project-item{
    position: relative;
    display: inline-block;
    width: 270px;
    max-height: 100%;
    white-space: nowrap;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0px;
    
   
    

 
 
    // height: 80vh;
    // margin-bottom: auto;
    

}
.project-item-block{
    position: relative;
    width: 270px;
    border-radius: 4px;
    background: #E2E4E6;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    white-space: nowrap;
    padding: 10px;
    
    
 
    
   
    
}

.prjt-item-inner{
    
    // padding: 10px;
    
}

.prjt-item-header{
 
    display: flex;
    justify-content: space-between;
    height: 30px;
    max-width: 100%;
    position: relative;
    // border: 1px solid black;
    z-index: 0;
   

    label{
        font-size: 18px;
        line-height: 18px;
        text-align: left;
        font-weight: bold;
    }

    span{
        background-image: url("../../../../../img/icons/dot-menu.svg");
        cursor: pointer;
        background-position-x: 50%;
        background-position-y: 50%;
        width: 20px;
        height: 20px;
    }

    .dotmenu-closed{
        background-image: url("../../../../../img/icons/dot-menu.svg");
        cursor: pointer;
        background-position-x: 50%;
        background-position-y: 50%;
        width: 20px;
        height: 20px;
    }

    .dotmenu--open{
        display: block;
        position: absolute;
        left: 90%;
        background-image: none;
        cursor: pointer;
        width: 250px;
        height: 250px;
        background: blue;
        z-index: 1000;
    }

   
}

.prjt-item-body{
  

    ul{
        overflow-y: auto;
        max-height: 70vh;
        padding: 0px;
        margin: 0px;
        cursor: pointer;
    }
    li{
        display: flex;
        align-items: center;
        justify-content: space-between;  
        margin-top: 5px;
        margin-bottom: 5px;
        width: 100%;
        min-height: 32px;
        background: white;
        border-radius: 4px;
        
        
        img{
            display: none;
        }

        label{
            padding-left: 10px;
            line-height: 18px;
        }

        &:hover{
            img{
                display: block;
                height: 15px;
                width: 15px;
                padding-right: 10px;
            }
        }
    }

    
}



.prjt-item-footer {
    width: 270px;

    


    
    .add-task{
        display: flex;
       height: 0px;
        
        max-width: 100%;
        text-align: left;
        
        font-size: 15px;
        background-color: transparent;
        border: none;
        border-radius: 0px 0px 4px 4px;
        outline: none;
        color: #838c91;
        background: #E2E4E6;


      

        textarea{
            display: none;
         
        }

        button{
            display: none;
        }



    }

    .add-task-show{
        display: flex;
        flex-direction: column;
        max-height: 100%;
        width: 100%;
        text-align: left;
        font-size: 15px;
        background-color: transparent;
        border: none;
        outline: none;
        color: #838c91;
        position: relative;
        z-index: 10;
        background: #E2E4E6;
       
        
    
        textarea{
            padding-top: -5px;
            resize: none;
            border-radius: 4px;
            border: none;
            // margin-left: 10px;
            // margin-right: 10px;
            outline: none;
            width: 98%;
            height: 54px;
            background: white;
        }

 

        button{
           margin-top: 5px;
            width: 60px;
            height: 30px;
        }

       
    }
}






.show-text {
    max-height: 100%;
    padding-top: 10px;
    display: block;
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0px;
    text-align: left;
    padding-left: 10px;
}

.hide {
    font-size: 0px;
    
    margin-top: 10px;
    
   
    
}




// .pop-over-menu{
    
//     position: absolute;
//     background: white;
//     width: 250px;
//     max-height: 100%;
//     z-index: 10;

//     span{
//         margin: 0px;
//         padding: 0px;
//     }

//     .pop-over-menu-wrapper{
//         display: flex;
//         flex-direction: column;
//         z-index: 10;

//         .menu-header{
//             height: 35px;
//             display: flex;
//             justify-content: space-between;
//             align-items: center;
//             font-size: 15px;
//             padding-left: 10px;
//             padding-right: 10px;
//             border-bottom: 1px solid #838c91;
//             color: #838c91;

//             .menu-placeholder{
//                 display: block;
//                 height: 15px;
//                 width: 15px;
//                 background: transparent;
//             }
            
//             .menu-title{
//                font-size: 12px;
//             }
        
//             .delete-x{                
//                 font-size: 20px;
//             }
//         }
        
//         ul{
            
//             display: flex;
//             flex-direction: column;
//             margin: 0;
//             padding: 0;
//         }

//         li{
//             padding-left: 10px;
//             padding-right: 10px;
//             line-height: 30px;
//             list-style: none;
//             font-size: 15px;
//             text-align: left;
//             font-weight: 600;
//         }
        
//     }

// }