.slider-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url('../../../img/landing-slider/workplace1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    z-index: 0;
}

.outter-text-container{
    height: 330px;
    width: 100%;
    // border: 1px black solid;
    z-index: 2;
    opacity: 2;
}

.inner-text-container{
  width: 490px;
  display: flex;
  justify-content: flex-end;
}

.text-container{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 260px;
    // border: 1px black solid;
}

.headline-large{
    font-size: 58px;
    text-align: left;
    margin: 0px;
    color: white;
    text-shadow: 2px 2px 10px #000000;
}

.headline-desc{
    text-align: left;
    width: 340px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 100;
    color: white;
    text-shadow: 2px 2px 10px #000000;
}

.register-btn{
    border-radius: 3px;
    width: 260px;
    height: 50px;
    font-size: 20px;
    background-color: #FF066B ;
    border-style: none;
    color: white;
    outline: none;

    &:hover {
        background-color: rgb(192, 0, 80); 
    }

    &:active{
        background-color: rgb(167, 0, 69);
    }
}




.slider-footer{
    height: 70px;
    // border: 1px solid black;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 2;
}

.footer-nav {

    padding-left: 0px;
    margin-right: 15px;
    align-items: flex-end;
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 180px;
    // border: 1px solid black;
    height: 34px;
    font-size: 15px;
    color: white;
    opacity: 0.5;


}
// .curtain{
//     position: absolute;
//     height: 100%;
//     width: 100%;
//     max-width: 1280px;
//     overflow: hidden;
//     z-index: 1;
//     background: black;
//     opacity: 0.7;
// }
.blackscreen{
    position: absolute;
    height: 100vh;
    width: 100%;
    left: 0;
    background: black;
    opacity: 0.7;
    z-index: 0;
}

// Other Colors
// High contrest green #5FCA4B