@import '../../../_colors.scss';

.features-container {
    width: 100%;
    height: calc(100vh - 50px);
    overflow-y: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;

    
    &::-webkit-scrollbar {
        width: 15px;
        padding-right: 5px;
        -webkit-overflow-scrolling: touch;
    }
    

    &::-webkit-scrollbar-track {
        margin-top: 3%;
        margin-bottom: 3%;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }
 

    &::-webkit-scrollbar-thumb {
        @include darken-background($primary, 20%);
        -webkit-border-radius: 10px;
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.5);
        
    }
    &::-webkit-scrollbar-thumb:window-inactive {
        background-color: rgba(50, 50, 50, 0.40);       
    }

    
}

.container-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
}

.features-area {
    background: $light-color;
    width: 60%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    margin: 20px;
    border-radius: 5px;
    

   
    .features-wrapper {
        padding: 20px;
    }

    .features-item{
        padding-bottom: 10px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        
        section{
            display: flex;
            width: 100%;
        }
        label{
            @include darken-color($primary, 20%);
            display: flex;
            align-items: center;
            font-weight: bold;
            font-size: 20px;
            max-width: 100%;
            text-align: left;
            margin-right: 10px;
        }
        
        input{
            border: 1px #CCC solid;
            border-right: none;
            padding-left: 5px;
            padding-right: 5px;
            border-radius: 3px 0px 0px 3px;
            width: 100%;
            height: 31px;
            outline: none;
            font-size: 17px;
        }
    }

    .features-footer{
        button{
            @include addBtn();
            margin-left: 26.5px;
            max-width: 100%;
            color: white;
        }
    }
}
















