@import '../../../_colors.scss';

.ideasUsers-container{
    width: 100%;
    

}

.ideasUsers-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: calc(100vh - 50px);
    overflow-y: auto;
}

.ideas-users-input-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
   
}

.ideas-users-area{
    width: 60%;
    display: flex;
    flex-direction: column;
    transition: 1s ease-in-out;
    margin: 20px;
    .area-title{
        text-align: left;
        font-size: 20px;
        margin-bottom: 10px;
        color: $dark-color;
    }
    .ideas-users-wrapper{
        padding: 20px;
        height: 100%;
        max-height: 100%;
        border-radius: $border-radius;
        background: $light-color; 
    }

    .ideas-item {
        
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        
        section{
            display: flex;
            width: 580px;
        }
        label{
            display: flex;
            align-items: center;
            font-weight: bold;
            font-size: 20px;
            max-width: 100%;
            text-align: left;
            margin-right: 10px;
            color: $dark-color;
        }
        
        input{
            width: 100%;
            height: 24px;
            outline: none;
        }

        button{
            margin-left: 10px;
            margin-right: 10px;
            border-radius: 5px;
            height: 30px;
            font-size: 15px;
            background-color:grey;
            color: white;
        }
    }

    .users-item{
        display: flex;
        justify-content: flex-start;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;

        label{
            
            display: flex;
            align-items: center;
            font-weight: bold;
            font-size: 20px;
            max-width: 100%;
            text-align: left;
            margin-right: 10px;
            color: $dark-color;
        }
        section{
            display: flex;
            width: 580px;
        }
        input{
            width: 100%;
            margin-right: 10px;
            height: 24px;
        }
        button{
            margin-right: 10px;
            border-radius: 5px;
            height: 30px;
            font-size: 15px;
            background-color:grey;
            color: white;
        }
    }
}




.ideas-users-footer{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    max-height: 100%;
    // border: 1px solid black;

    button{
        @include addBtn();
    }
}












































.ideas-users-area-new{
    width: 90%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
   
   
    margin: 20px;

    .area-title{
        text-align: left;
        font-size: 20px;
        margin-bottom: 10px;
    }

    .ideas-users-wrapper{
        padding: 20px;
    }

    .ideas-item {
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        
        section{
            display: flex;
            width: 90%;
        }
        label{
            display: flex;
            align-items: center;
            font-weight: bold;
            font-size: 20px;
            max-width: 100%;
            text-align: left;
            margin-right: 10px;
        }
        
        input{
            width: 100%;
            height: 24px;
            outline: none;
        }

        button{
            margin-left: 10px;
            margin-right: 10px;
            border-radius: 0px;
            height: 30px;
            font-size: 15px;
        }
    }

    .users-item{
        display: flex;
        justify-content: flex-start;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;


        label{
            opacity: 0;
            display: flex;
            align-items: center;
            font-weight: bold;
            font-size: 20px;
            max-width: 100%;
            text-align: left;
            margin-right: 10px;
        }
        section{
            display: flex;
            width: 90%;
        }
        input{
            width: 100%;
            margin-right: 10px;
        }
        button{
            
            margin-right: 10px;
            border-radius: 0px;
            height: 30px;
            font-size: 15px;
        }
    }
}




.ideas-users-footer{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    // border: 1px solid black;

    button{
        margin-left: 26.5px;
        max-width: 100%;
    }
}

