@import '../../../_colors.scss';

.ideasUsers-container{
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
    height: calc(100vh - 40px);
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 15px;
        padding-right: 5px;
        -webkit-overflow-scrolling: touch;
    }
    
    &::-webkit-scrollbar-track {
        margin-top: 3%;
        margin-bottom: 3%;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }
 
    &::-webkit-scrollbar-thumb {
        @include darken-background($primary, 20%);
        -webkit-border-radius: 10px;
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.5);
        
    }
    &::-webkit-scrollbar-thumb:window-inactive {
        background-color: rgba(50, 50, 50, 0.40);       
    }
}

.ideasUsers-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.ideas-users-input-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ideas-users-area{
    width: 60%;
    display: flex;
    flex-direction: column;
    transition: 1s ease-in-out;
    margin: 20px;
    .area-title{
        user-select: none;
        text-align: left;
        font-size: 20px;
        margin-bottom: 20px;
        color: $dark-color;
    }
    .ideas-users-wrapper{
        padding: 20px;
        height: 100%;
        max-height: 100%;
        border-radius: $border-radius;
        background: $light-color; 
    }

    .ideas-item { 
        padding-bottom: 10px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        
        section{
            display: flex;
            width: 100%;
        }
        label{
            @include darken-color($primary, 20%);
            display: flex;
            align-items: center;
            font-weight: bold;
            font-size: 20px;
            text-align: left;
            min-width: 37px;
        }
        
        input{
            border: 1px #CCC solid;
            padding-left: 5px;
            padding-right: 5px;
            border-radius: 3px 3px 3px 3px;
            width: 100%;
            height: 31px;
            outline: none;
            font-size: 17px;
        }
    }

    .users-item{
        display: flex;
        justify-content: flex-start;
        width: 100%;
        padding-bottom: 10px;

        label{
            @include darken-color($primary, 20%);
            display: flex;
            align-items: center;
            font-weight: bold;
            font-size: 20px;
            text-align: left;
            min-width: 37px;
        }
        section{
            display: flex;
            width: 100%;
        }
        input{
            margin-right: 10px;
            border: 1px #CCC solid;
            padding-left: 5px;
            padding-right: 5px;
            border-radius: 3px 3px 3px 3px;
            width: 100%;
            height: 31px;
            outline: none;
            font-size: 17px;
        }
        input:nth-of-type(3){
            margin-right: 0px;
          }

    }
}


.users-column-name{
    display: flex;
    width: 100%;
    padding-bottom: 10px;


 
    section{
        display: flex;
        width: 100%;

        span{
            color: #7E7E7E;
            text-transform: uppercase;
            border-radius: 3px 3px 3px 3px;
            width: 100%;
            outline: none;
            overflow: hidden;
            text-align: left;
            margin-right: 10px;
            text-overflow: ellipsis;


            label{
                font-size: 17px;
                font-weight: bold;
                text-overflow: clip;
                width: 100%;
                overflow: hidden;
            }
        }

        span:nth-of-type(1){
            padding-left: 37px;
          }

          
        span:nth-of-type(3){
            overflow: hidden;
            margin-right: 30px;
            // margin-right: 0px;
          }
        
        label:nth-of-type(1){
            max-width: 130px;
            text-overflow: hidden;
        }

        label:nth-of-type(2){
            max-width: 60px;
            text-overflow: hidden;
        }

        label:nth-of-type(3){
            text-overflow: hidden;
        }
        
    }
    


}





.ideas-users-footer{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    max-height: 100%;
    // border: 1px solid black;
    padding-left: 37px;

    button{
        
        @include addBtn();
        
    }
}


.delete-column{
    width: 32px;
}