

.board-menu-header{
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
  
}

.back-con{
    display: flex;
    width: 260px;
    padding-left: 15px;
    opacity: 0;
}

.back-icon{
    width: 30px;
    height: 30px;
    background: grey;
    opacity: 0;
}

.board-menu-container--hide{
    transform: translateX(-331px); 
    position: absolute;
    height: 100%;
    background-color: white opacity($color: #000000);
    width:330px;
    transition: 0.3s ease-in-out;
  } 

  .board-menu-container{
    transform-origin: translateX(0px);
    width:330px;
    height: 100%;
    position: absolute;
    border-right: 1px solid black;
    background-color: white ;
    transition: 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 4;
  }

  .boards-main-container{
    width: 100%;
    z-index: 3;
    // border: 1px solid black;
  }

  .recent-boards-con{
    margin-top: 60px;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .text-12{
    font-size: 12px;
    color: #95989A;
  }

  .personal-boards-con{
    margin-top: 30px;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .board-menu-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
  }

  .create-board-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
  }

  .board-item-thumbnail {
    width: 40px;
    height: 40px;
    background: #6F6F6F;
    margin-right: 20px;
  }

  .create-board-thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border: 2px solid #C1C1C1;
    margin-right: 20px;
  }

  .plus-symbol{
    font-size: 35px;
    margin: none;
    padding: none;
    font-weight: lighter;
    color: #95989A;
  }

  .board-item-name{
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: normal;
    color: #6F6F6F;
  }

  .create-board-name{
    display: flex;
    color: #C1C1C1;
    align-items: center;
    font-size: 18px;
    font-weight: normal;
  }



.curtain--on {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: black;
    opacity: 0.5;
    z-index: 3;
    top: 0px;
    animation: curtains-on 0.5s forwards;
    overflow: hidden;
    
  }

  .curtain--off {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 0;
    opacity: 0;
    animation: curtains-on 0.5s backwards;
    
  }

  @keyframes curtains-on {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 0.5;
    }
  }