
$primary: #145C9E;

$secondary: rgb(22, 107, 181);

$dark-color: #3a3a3a;

$medium-color: #808080;

$light-color: #E2E4E6;

@mixin darken-background($color, $factor: 20%) {
    background-color: darken($color, $factor);
}

@mixin darken-left-border($color, $factor: 20%){
    border-left: darken($color, $factor) 1px solid;
}

$border-radius: 5px;

// %some-thing {
//     text-transform: initial;
//     line-height: 1;
//     min-height: 1em;
//     min-width: 1em;
// }