@import '../../../../../_colors.scss';

.backgroundThumb{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 20px;
    border: 1px solid #DCDCDC;
    min-height: 100px;
    width:80%;
    background-size: 100%;
    background-position: 50% 50%;
    border-radius: 10px;    
    user-select: none;    
    cursor: pointer;
    transition: 0.2s ease-in-out;

    .attribution{
        opacity: 0;
        transition: 0.2s ease-in-out;

        span{
            position: absolute;
            z-index: -1;
            opacity: 0;
        }

        a{
            display: none;
        }
    }

    &:hover{
        .attribution{
            opacity: 1;
            align-items: center;
            display: flex;
            height: 25px;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 0px 0px 10px 10px;
            transition: 0.2s ease-in-out;

            a{
                display: block;
            }
            

            label{
                
                opacity: 1;
                margin-left: 10px;
                cursor: pointer;
                color: hsla(0,0%,100%,.8);
                
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}

.backgroundThumb--selected{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 20px;
    border: 1px solid #DCDCDC;
    min-height: 100px;
    width:80%;
    background-size: 100%;
    background-position: 50% 50%;
    border-radius: 10px;    
    user-select: none;    
    cursor: pointer;
    transition: 0.2s ease-in-out;

    .attribution{
        opacity: 1;
        transition: 0.2s ease-in-out;
        height: 25px;
        border-radius: 0px 0px 8px 8px;
        background-color: $addBtn-color1;

        a{
            position: absolute;
            opacity: 0;
            z-index: -1;
            transition: 0.2s ease-in-out;
        }

        span{
            transition: 0.2s ease-in-out;
            z-index: 1;
            position: relative;
            opacity: 1;
            margin-left: 10px;
            display: flex;
            height: 100%;
            align-items: center;
            color: white;
            user-select: none;
            width: 100%;
        }
    }

    &:hover{
        .attribution{
            opacity: 1;
            transition: 0.2s ease-in-out;
            height: 25px;
            border-radius: 0px 0px 8px 8px;
            background-color: $addBtn-color1;

            span{
                margin-left: 10px;
                display: flex;
                height: 100%;
                align-items: center;
                color: white;
                user-select: none;
                width: 100%;
            }
            


        }
    }
}