
    .project-sidebar {
        display: flex;
        justify-content: flex-start;
        max-width: 240px;
        height: calc(100vh - 50px);
        background-color: white;
        position: relative;
        transition: 0.2 ease-in-out;
        margin: 0;
        border-right: 1px solid #DCDCDC;
        transition: 0.2s ease-in-out;
        z-index: 2;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.10);
    
    }

.navMenu-wrapper{
    height: 100%;
    max-width: 240px;
    transform: translateX(0%);
    opacity: 1;
    transition: 0.2s ease-in-out;
   
    
}

.navMenu--hide{
    height: 100%;
    transform: translateX(-100%);
    opacity: 0.2;
    position: absolute;
    transition: 0.2s ease-in-out;
}

.backgroundMenu-wrapper{
    height: 100%;
    transform: translateX(0%);
    opacity: 1;
    max-width: 240px;
    position: relative;
    transition: 0.2s ease-in-out;
}

.backgroundMenu--hide{
    height: 100%;
    transform: translateX(-100%);
    opacity: 0.2;
    position: absolute;
    overflow-x: hidden;
    transition: 0.2s ease-in-out;
}







