@import './components/header.scss';
@import './components/home.scss';
@import './components/login.scss';
@import './components/register.scss';
@import './App.scss';
@import './components/landing-slider.scss';
@import './components/account-settings.scss';