@import '../../_colors.scss';


.header-search{
  margin-right: auto;
  margin-left: 20px;
  height: 30px;
  display: none;
  align-items: center;
  max-width: 100%;
  border-radius: 3px 3px 3px 3px;
  @include darken-background($primary, 20%);
  
  input{
    border: none;
    height: 30px;
    width: 100%;
    outline: none;
    background: transparent;
    color: white;
    
  }
  
  button{
    opacity: 0.5;
    background: url('../../../img/icons/searchIcon.svg') no-repeat;
    background-size: 50%;
    background-position: 50%;
    border: none;
    height: 32px;
    width: 32px;
  }
}
.hideHeader{
  display:none;
}

.header-container {
    @include darken-background($primary, 15%);
    display: block;
    position: relative;
    z-index: 3;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
  }
  
  .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    z-index: 3;
    position: relative;
    @include darken-bottom-border($primary, 25%);
  }
  
  .board-con {
    display: flex;
    max-width: 260px;
    padding-left: 15px;
  }
  
  .logo {
    font-size: 20px;
    font-family: sans-serif;
    
  }
  
  .board-icon{
    width: 25px;
    height: 25px;
  }
  
  .board-text{
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 10px;
    font-size: 15px;
    font-weight: normal;
    color: white;
    font-family: sans-serif;
  }
  
  .user-con {
    min-width: 260px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #D6DADC;
    background-position: 50% 50%;
    background-size: cover;
    mix-blend-mode: multiply;
    min-width: 30px;
    max-width: 30px;
    min-height: 30px;
    max-height: 30px;
    border-radius: 100px;
  }
  
  .hello-user {
    margin-left: 10px;
    font-size: 15px;
    font-weight: lighter;
    color: white;
    font-family: sans-serif;
    white-space: nowrap;
    overflow: hidden;
    margin-right: 20px;
  }
  
  .alert-icon{
    width: 17px;
    height: 20px;
    margin-left: 20px;
    margin-right: 20px;
    opacity: 0.5;
  }
  
  .right-menu-container{
    display: flex;
    width:100%;
    max-height: 100%;
    justify-content: flex-end;
    position: absolute; 
    transition: 0.1s ease-in-out;
    z-index: 2;


    .right-menu-outter{
      width: 250px;
      max-height: 100%;
      background: white;
      border-left: 0.8px solid black;
      border-right: none;
      border-bottom: 0.8px solid black;
      border-top: 0px solid transparent;
      position: relative;
      z-index: 1;
      transition: 0.1s ease-in-out;

      .right-menu-inner {
        display: flex;
        flex-direction: column;
        background: white;
        width: 100%;
        position: relative;
        z-index: 1;
        transition: 0.1s ease-in-out;
    
        ul {
          display: flex;
          flex-direction: column;
          margin: 0;
          padding: 0;
          transition: 0.1s ease-in-out;
       
        }
    
        li {
          line-height: 18px;
          padding: 10px;
          list-style: none;
          font-size: 18px;
          text-align: left;
          font-weight: 600;
          transition: 0.1s ease-in-out;
          cursor: pointer;
          color: #111111;
          background: transparent;
        }

        li:hover{
          background: #0366d6;
          color: white;
        }
      }
    }

    .backdropCloseMenu {
      display: block;
      width: 100%;
      z-index: 0;
      position: absolute;
      height: calc(100vh - 40px);
    }
  }

  .right-menu-container--hide{
    opacity: 0;
    height: 0%;
    width:100%;
    justify-content: flex-end;
    position: absolute; 
   
    transition: 0.1s ease-in-out;

    .right-menu-outter{
      height: 0px;
      opacity: 0;
      width: 250px;
      background: transparent;
      border-top: 0px solid transparent;
      border-left: 0px solid transparent;
      border-right: 0px solid transparent;
      border-bottom: 0px solid transparent;
      transition: 0.1s ease-in-out;

      .right-menu-inner {
        opacity: 0;
        position: relative;
        background: transparent;
        width: 100%;
        margin-right: auto;
        transition: 0.1s ease-in-out;
        z-index: -1;
    
        ul {
          opacity: 0;
          position: relative;
          display: flex;
          flex-direction: column;
          margin: 0;
          padding: 0;
          transition: 0.1s ease-in-out;
          z-index: 0;
          
        }
    
        li {
          opacity: 0;
          position: relative;
          color: transparent;
          line-height: 0px;
          padding-left: 10px;
          list-style: none;
          font-size: 0px;
          text-align: left;
          font-weight: 600;
          transition: 0.1s ease-in-out;
        }
      }
    }

    .backdropCloseMenu {
      display: none;
    }
  }


  .bread-container{
    @include darken-left-border($primary, 25%) ;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.1s ease-in-out;

    .bread-menu-toggle-before{
      display: flex;
      align-items: center;
      justify-content: center;
      max-height: 100%;
      width: 100%;
      transition: 0.1s ease-in-out;

      .bread-menu{
        position: relative;
        transition: 0.1s ease-in-out;

        .bread-top {
          position: relative;
          transform: rotate(0deg);
          width: 22px;
          height: 2px;
          background-color: white;
          margin-bottom: 10px;
          transition: 0.1s ease-in-out;
        }
    
        .bread-bottom{
          position: relative;
          transform: rotate(0deg);
          width: 22px;
          height: 2px;
          background-color: white;
          transition: 0.1s ease-in-out;
        }
      }
    }


    .bread-menu-toggle-after{
      
      display: flex;
      align-items: center;
      justify-content: center;
      max-height: 100%;
      width: 100%;
      // border: 1px solid black;
      transition: 0.1s ease-in-out;

      .bread-menu{
        
        position: relative;
        transition: 0.1s ease-in-out;
        
        

        .bread-top {
          @include lighten-background($primary, 20%);
          position: relative;
          transform: rotate(45deg);
          width: 24px;
          height: 2px;
          z-index: 0;
          margin-bottom: 0px;
          top: 2px;
          transition: 0.1s ease-in-out;
        }
    
        .bread-bottom{
          @include lighten-background($primary, 20%);
          position: relative;
          transform: rotate(-45deg);
          width: 24px;
          height: 2px;
          z-index: 1;
          transition: 0.1s ease-in-out;
        }
      }
    }
  }

  

  
  
  
  




  






















  