.project-sidebar-container {
    min-width: 240px;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-right: 1px solid #DCDCDC;
}

.project-sidebar-inner{
    margin-left: 40px;
    width: 150px;
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 50px;
    height: 335px;
}

.psb-item {
    
    font-size: 16px;
    list-style: none;
    color: #8C8984;
    text-decoration: none;

}
.psb-item:active{
    border-left: 3px green solid;
     
 }

.psb-item:active{
    border-left-color: #4285f4;
    color: #4285f4;
}