@import '../../../../../../../_colors.scss';

.avatarPicItem{
    margin: 1%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    @include lighten-background($primary, 20%);
    width: 85px;
    height: 85px;
    background-size: cover;
    border-radius: 10px;
    cursor: pointer;

    .attribution{
        opacity: 0;
        transition: 0.2s ease-in-out;
        height: 20px;
        border-radius: 0px 0px 10px 10px;
        label{
            display: none;
        }

        span{
            display: none;
        }

    }

    &:hover{
        .attribution{
            opacity: 1;
            align-items: center;
            justify-content: center;
            display: flex;
            height: 20px;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            transition: 0.2s ease-in-out;
            border-radius: 0px 0px 10px 10px;

            label{
                display: flex;
                height: 100%;
                align-items: center;
                justify-content: center;
                text-align: center;
                width: 100%;
                cursor: pointer;
                color: hsla(0,0%,100%,.8);
                white-space: nowrap;
                font-size: 0.6rem;
                
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}


.avatarPicItem--selected{
    margin: 1%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    @include lighten-background($primary, 20%);
    width: 85px;
    height: 85px;
    background-size: cover;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
    cursor: pointer;

    .attribution{
        opacity: 1;
        transition: 0.2s ease-in-out;
        height: 20px;
        border-radius: 0px 0px 10px 10px;
        background: $addBtn-color1;
        label{
            display: none;
        }

        span{
            display: flex;
            height: 100%;
            align-items: center;
            justify-content: center;
            text-align: center;
            color: white;
            font-size: 0.7rem;
            user-select: none;
        }

    
    }

    &:hover{
        .attribution{
            opacity: 1;
            background: $addBtn-color1;
            align-items: center;
            justify-content: center;
            transition: 0.2s ease-in-out;
            border-radius: 0px 0px 10px 10px;
            

            label{
                display: none;
                
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}