@import '../../../../_colors.scss';

    .modal-account-settings-content{
        max-width: 50vw;
        // padding-left: 20px;
        // padding-right: 20px;
        border: none;
        background-color: #f4f4f4;
        box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
        animation-name: modalopen;
        animation-duration: 0.3s;
        z-index: 4;
        border-radius: 3px;
        display: flex;
        align-items: center;
        flex-direction: column;
      }

    .modalStyle{
        top: 0px;
        position: absolute;
        z-index: 900;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 0;
        transition: 0.2s ease-in-out;
      }

    .modalStyle-inner{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 0;
    }

      .modal-title {
        width: 20vw;
        height: 30px;
        font-size: 14px;
        font-weight: normal;
        color: white;
        white-space: nowrap;
        padding-left: 20px;
        display: flex;
        align-items: center;
      }

      .closeBtn{
        display: flex;
        justify-content: center;
        width: 33px;
        color: $light-color;
        font-size: 30px;
        user-select: none;
        padding-bottom: 5px;
        padding-right: 5px;
      }

      .closeBtn:hover {
        color: #000;
        text-decoration: none;
        cursor: pointer;
        transition: 0.2s ease-in-out;
      }

      .closeBtn:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
        transition: 0.2s ease-in-out;
      }


      .modal-header h2, .modal-footer h3{
        margin: 0;
        transition: 0.2s ease-in-out;
      }

      .modal-header{
        width: 100%;
        padding-top: 1px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: $dark-color;
        // border-bottom: #95989A 1px solid;
        color: white;
        border-radius: 3px 3px 0 0;
      }

      .modal-input-tag {
        width: 100%;
        text-align: left;
        color: $dark-color;
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 10px;
        margin-left: 5px;
        white-space: nowrap;
      }

      .modal-body{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        width: 22vw;
        padding-left: 20px;
        padding-top: 10px;
        font-size: 10pt;
        color: $medium-color;
        // border: solid red 1px;

        p {
          padding-bottom: 15px;
        }
      }


      .submitModal{
        margin-bottom: 20px;
        width: 23vw;
        display: flex;
        justify-content: flex-end;
        // border: solid red 2px;
      }

      .cancel-btn {
        text-align: center;
        font-size: 11px;
        height: 35px;
        width: 90px;
        outline: none;
        border: none;
        background: $light-color;
        color: $dark-color;
        cursor: pointer;
        transition: 0.2s ease-in-out;
        white-space: nowrap;
        border-radius: 3px;
      }

      .submit-btn {
        text-align: center;
        font-size: 11px;
        height: 35px;
        width: 90px;
        outline: none;
        border: none;
        background: $red-btn-color;
        color: white;
        cursor: pointer;
        transition: 0.2s ease-in-out;
        white-space: nowrap;
        border-radius: 3px;
        margin-left: 10px;
        margin-right: 10px;
      }

      .submit-btn-disabled {
        background: blue;
      }

      .modal-form {
        height: 33px;
        width: 92%;
        outline: none;
        font-size: 10pt;
        padding-left: 5px;
      }

      .modal-row{
        width: 100%;
        margin-bottom: 18px;
        transition: 0.2s ease-in-out;
      }

      @keyframes modalopen {
        from {opacity: 0;}
        to {opacity: 1;}
      }

      .current-email{
        color: #95989A;
        margin-left: 10px;
      }



    /* Not modal css */


    #editProfileBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 32px;
        width: 120px;
        background: #E2E4E6;
        cursor: pointer;
    }

    .headline-20{
        font-size: 20px;
        text-align: left;
        color: #95989A;
        text-decoration: underline slategrey;
        cursor: pointer;
    }
    .account-options{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 115px;
        width: 209px;
        margin-left: 20px;
    }

    .modal-header-placeholder{
      display: flex;
      align-items: center;
      width: 33px;
      height: 34px;
      background: transparent;
      transition: 0.2s ease-in-out;
      position: relative;
    }

    .modal-header-placeholder--before{
      display: flex;
      align-items: center;
      width: 33px;
      height: 5px;
      background: transparent;
      transition: 0.2s ease-in-out;
      position: relative;
    }

    .modal-header-placeholder--after{
      display: flex;
      align-items: center;
      width: 33px;
      height: 5px;
      background: transparent;
      transition: 0.2s ease-in-out;
      position: relative;
    }

    .avatar-back-btn--before {
        width: 33px;
        height: 34px;
        opacity: 0;
        position: absolute;
        z-index: -1;
    }

    .avatar-back-btn--after {
        text-align: center;
        font-size: 11px;
        height: 30px;
        width: 50px;
        outline: none;
        border: none;
        background: $medium-color;
        color: white;
        cursor: pointer;
        transition: 0.2s ease-in-out;
        white-space: nowrap;
        border-radius: 3px;
      }
