@import '../../../../_colors.scss';

    .modal-account-settings-content{
        max-width: 50vw;
        padding-left: 20px;
        padding-right: 20px;
        border: none;
        background-color: #f4f4f4;
        box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
        animation-name: modalopen;
        animation-duration: 0.3s;
        z-index: 4;
        border-radius: 5px;
      }
    
    .modalStyle{
        top: 0px;
        position: absolute;
        z-index: 900;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 0;
        transition: 0.2s ease-in-out;
      }
  
    .modalStyle-inner{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 0;
    }

      .modal-title {
        font-size: 18px;
        font-weight: normal;
        color: #95989A;
        white-space: nowrap;
      }
    
      .closeBtn{
        display: flex;
        justify-content: flex-end;
        width: 33px;
        color: grey;
        font-size: 30px;
        user-select: none;
        
        
      }
    
      .closeBtn:hover {
        color: #000;
        text-decoration: none;
        cursor: pointer;
        transition: 0.2s ease-in-out;
      }
    
      .closeBtn:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
        transition: 0.2s ease-in-out;
      }
    

      .modal-header h2, .modal-footer h3{
        margin: 0;
        transition: 0.2s ease-in-out;
      }
    
      .modal-header{
        width: 100%;
        padding-top: 1px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: #95989A 1px solid;
        color: white;
        
      }
    
      .modal-input-tag {
        width: 100%;
        text-align: left;
        color: #3C3C3C;
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 10px;
        white-space: nowrap;
      }
    
      .modal-body{
      /*   border: 1px solid blue; */
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        width: 25vw;
        align-items: center;
      }
      
      
      .submitModal{
        margin-bottom: 20px;
        button{
          text-align: center;
          font-size: 18px;
          text-transform: uppercase;
          height: 35px;
          width: 100%;
          background: blue;
          outline: none;
          border: none;
          background: $secondary;
          color: white;
          cursor: pointer;
          transition: 0.2s ease-in-out;
          width: 100%;
          white-space: nowrap;
        }
      }
    
      .modal-form {
        height: 33px;
        width: 99%;
        outline: none;
        
      }
    
      .modal-row{
        width: 100%;
        margin-bottom: 18px;
        transition: 0.2s ease-in-out;
      }
    
      @keyframes modalopen {
        from {opacity: 0;}
        to {opacity: 1;}
      }
    
      .current-email{
        color: #95989A;

      }
    
    /* Not modal css */
    
    
    #editProfileBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 32px;
        width: 120px;
        background: #E2E4E6;
        cursor: pointer;
    }
    
    .headline-20{
        font-size: 20px;
        text-align: left;
        color: #95989A;
        text-decoration: underline slategrey;
        cursor: pointer;
    }
    .account-options{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 115px;
        width: 209px;
        margin-left: 20px;
    }

    .modal-header-placeholder{
      display: flex;
      align-items: center;
      width: 33px;
      height: 34px;
      background: transparent;
      transition: 0.2s ease-in-out;
      position: relative;
    }



    .modal-header-placeholder--before{
      display: flex;
      align-items: center;
      width: 33px;
      height: 34px;
      background: transparent;
      transition: 0.2s ease-in-out;
      position: relative;

      button{
        width: 33px;
        height: 34px;
        opacity: 0;
        position: absolute;
        z-index: -1;
      }

      span{
        width: 33px;
        height: 33px;
      }

    }

    .modal-header-placeholder--after{
      display: flex;
      align-items: center;
      width: 33px;
      height: 34px;
      background: transparent;
      transition: 0.2s ease-in-out;
      position: relative;


      button{
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 1;
        z-index: 1;
        
        
        padding: 0px;
      }


    }