@import '../../../_colors.scss';

.schema-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: calc(100vh - 50px);
    background-color: rgba(0,0,0,0.3);
}

.schema-wrapper{
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.table-list-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.add-table {
    background-color: $secondary;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.schema-item{
    margin-top: 20px;
    padding-top: 0px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    background: $light-color;
    max-height: 100%;
    width: 700px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);

    .project-item-header{
        height: 25px;
        width: 104%;
    }

    .name-table-row{
        display: flex;
        justify-content: flex-start;
        margin-bottom: 10px;

        input{
            font-size: 20px;
            color: black;
            height: 20px;
            outline: none;
            width: 100%;
            background: transparent;
            border: none;
            // border-bottom: 1px dashed black;
        }
        ::-webkit-input-placeholder {
            color: #595959;
            font-size: 20px;
            text-align: left;
            font-weight: 300;
        }
    }   
}



.column-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: flex-start;
}

.column-fields-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 410px;
}

.column-input-text{
    width: 100%;
    height: 26px;
    padding: 0px;
    
   
}
.column-input-select{
    height: 100%;
    width: 100%;
    height: 30px;
    
    
}

.column-checkbox-wrapper{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 250px;
    height: 30px;
    margin-right: 20px;
}

.column-checkbox {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.remove-item {
    display: flex;
    width: 50px;
    height: 50px;
    font-size: 50px;
}




.column-item-footer{
    
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 30px;

    button {
        background-color: $secondary;
        color: white;
    }
    
  
}


.sm-input {
    width: 90px;
    max-height: 30px;
    margin-right: 20px;
    outline: none;
  }
  
  .md-input {
    width: 150px;
    max-height: 30px;
    margin-right: 20px;
    outline: none;
  }



  .add-table {
      min-height: 50px;
      margin: 20px 0px;
  }

  .schema-divider{
      opacity: 0.3;
      display: block;
      width: 100%;
      height: 1px;
      background: #A9A9A9;
  }