@import '../../../_colors.scss';

.endpoints-container {
    width: 100%;
    height: calc(100vh - 40px);    background-color: rgba(0,0,0,0.5);
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 15px;
        padding-right: 5px;
        -webkit-overflow-scrolling: touch;
    }
    

    &::-webkit-scrollbar-track {
        margin-top: 3%;
        margin-bottom: 3%;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }
 

    &::-webkit-scrollbar-thumb {
        @include darken-background($primary, 20%);
        -webkit-border-radius: 10px;
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.5);
        
    }
    &::-webkit-scrollbar-thumb:window-inactive {
        background-color: rgba(50, 50, 50, 0.40);       
    }
}

.endpoints-wrapper{

    width: 60%;
    max-height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
    
 
    // border: 1px solid black;
}



.endpoint-list{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr;
    flex-direction: column;
    justify-content: center;
    max-height: 100%;
    grid-gap: 40px;
}




.endpoint-label-con{
    // border: 1px solid black;
    min-width: 60px;
    height: 100%;
    text-align: left;
    font-size: 20px;
}
.endpoint-section-con{
    display: flex;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    // border: 1px solid black;
}

.url-input-field {
    display: block;
    max-width: 100%;
    height: 26px;
    margin-bottom: 20px;
}

.http-verb-select {
    display: block;
    max-width: 200px;
    height: 30px;
}

.ep-field-con{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    
    // border: 1px solid blue;
}

.endpoint-section-con-bottom {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    span{
        font-size: 20px;
        font-weight: bold;
    }
    button {
        background-color: $secondary;
        color: white;
    }
}

.ep-field-con-bottom{
    display: column;
    flex-direction: row;
    align-items: center;

   
}

.ep-bottom-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.ep-bottom-add-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 10px;
}

.req-res-label{
    font-size: 16px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    min-width: 50px;
    height: 30px;

}

.endpoint-divider{
    
    margin-left: auto;
    margin-right: auto;
    height: 1px;
    background-color: #595959;
    margin-top:10px;
    margin-bottom: 20px;
    opacity: 1;

}

.req-res-wrapper{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.req-input-field{
    height: 26px;
    width: 155px;
}

.req-res-add{
 
}
// num-url-get-post-con


.add-button-footer {
    width: 100%;
    margin-bottom: 100px;
    button{
        width: 100%;
        height: 50px;
        background-color: $secondary;
        color: white;
        font-size: 14px;
        font-weight: bold;
        border: none;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    }
}


























// .add-endpoint-item{
    
//     box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
//     border-radius: 2px;
//     border: none;
//     height: 100%;
//     width: 225px;
//     outline: none;
//     padding: 25px;
//     margin: 20px;
    
// }
// .add-endpoint-inner{
//     width: 100%;
//     height: 100%;
    
// }
// .add-endpoint-item-body{
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     width: 100%;
//     height: 100%;
   
//     img{
//         margin-top: 10%;
//         width: 50%;
//         height: 50%;
//     }
// }

// .add-endpoint-item-footer{
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 20%;
//     width: 100%;

//     label{
//         font-size: 22px;
//         color: #59595E
// }

// }
