body {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}


.App {
  text-align: center;
  width: 100%;
  height: 100%;
}

body{
  height: 100vh;
}



.project-section-header{
  font-size: 36px;
  margin-bottom: 20px;
  width: 100%;
  margin-top: 50px;
}

a{
  text-decoration: none;
}

.main-fix{
  display: flex;
  flex-direction: row;
 
  height: 100%;
}

body {
  font-family: sans-serif;
  
}


.project-view{
  background: #FAFAFA;
}


.home-container{
  display: flex;
 
}

.hide-header{
  display: none;
}

.landscape-divider{
  height: 1px;
  width: 100%;
  background: #95989A;
  margin-top: 20px;
  margin-bottom: 20px;
}

.bg-grey{
  background: #DDDDDD;
}


