.App {
  text-align: center;
  width: 100%;
  
}

.main-fix{
  display: flex;
  flex-direction: row;
}

body {
  font-family: sans-serif;
  
}


.home-container{
  display: flex;
 
}

.hide-header{
  display: none;
}

.landscape-divider{
  height: 1px;
  width: 100%;
  background: #95989A;
  margin-top: 20px;
  margin-bottom: 20px;
}