@import '../../../../_colors.scss';

.endpoint-item {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2); 
    background: #E2E4E6;   
    border-radius: 5px;    
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;

    .project-item-header{
        height: 5px;
    }
    .project-item-header button{
        top: 0px;
        left: 15px;
    }
}

.endpoint-inner{
  display: flex;
  flex-direction: column;
  
  .endpoint-name{
    background: transparent;
    outline: none;
    border: none;
    font-size: 20px;
    padding-bottom: 20px;
  }
  
  .httpverb-url-con{
    display: flex;
    height: 37px;
    border-radius: 3px;
    
    .http-verb{
      min-width: 80px;
      color: #808080;
      background: #F0F0F0;
      font-weight: bold;
      height: 100%;
      border: 1px solid #CCC;
      outline: none;
      padding-left: 5px;
      border-radius: 3px 0px 0px 3px; 
      
      &:focus{
        background-color: white;
      }
    }
    
    .api-input{
      width: 100%;
      height: 90%;
      background: #F0F0F0;
      border: 1px solid #CCC;
      outline: none;
      padding-left: 2%;
      color: #7E7E7E;
      border-radius: 0px 3px 3px 0px; 
      border-left: none;

      &:focus{
        background-color: white;
      }
    }
    
    .endpoint-save{
      @include saveBtn1();
      display: flex;
      justify-content: center;
    }
    
  }
  
  .responseCon{
    display: flex;
    flex-direction: column;
    max-height: 100%;
    border: 1px solid #CCC;
    border-radius: 3px;
    overflow: hidden;
    margin-top: 20px;
    resize: vertical;

    label{
        color: #7E7E7E;
        font-weight: bold;
        display: flex;
        align-items: center;
        font-size: 15px;
        padding-left: 10px;
        height: 35px;
        text-align: left;
        background: #F0F0F0;
        text-transform: uppercase;
        border-bottom: 1px solid #CCC;
    }
  }


  .requireCon{
    display: flex;
    flex-direction: column;
    max-height: 100%;
    border: 1px solid #CCC;
    border-radius: 3px;
    overflow: hidden;
    margin-top: 20px;
    transition: 0.5s ease-in-out;


    label{
        color: #7E7E7E;
        font-weight: bold;
        display: flex;
        align-items: center;
        padding-left: 10px;
        height: 35px;
        font-size: 15px;
        text-align: left;
        background: #F0F0F0;
        border-bottom: 1px solid #CCC;
        text-transform: uppercase;
    }
  }

  .requireCon--hide{
    display: none;
    flex-direction: column;
    max-height: 0px;
    border: 1px solid #CCC;
    border-radius: 3px;
    overflow: hidden;
    opacity: 0;


    label{
        display: flex;
        align-items: center;
        padding-left: 10px;
        height: 35px;
        text-align: left;
        background: #F0F0F0;
        border-bottom: 1px solid #CCC;
    }
  }
}


