.dashboard-container{
    display: block;
    width: 100%;
    height: calc(100vh - 50px);
    height: 100%;
  }

    .personal-list-container{
      padding-top: 3%;
      display: flex;
      flex-direction: column;
      width: 95%;
      max-height: 100%;
      margin-left: 5%;
    }

    .group-list-container{
      padding-top: 3%;
      display: flex;
      flex-direction: column;
      width: 95%;
      max-height: 100%;
      padding-left: 5%;
    }
  
    .dash-section-title{
      display: block;
      position: relative;
      flex-direction: row;
      line-height: 18px;
      font-size: 18px;
      font-weight: bold;
      text-align: left;
      height: 18px;
    }
    
    .projects-list{
      width: 95%;
      height: 100%;
      display: grid;
      grid-gap: 10px;
      justify-content: space-evenly;
      grid-template-columns: 1fr 1fr 1fr;
      padding: 0px;
    }
    
    
    //EXISTING PROJECT
    .project-thumb{
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 150px;
      border-radius: 5px;
      background: #444;
    }
    
    .project-thumb-body{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      border-bottom: 1px solid rgba(0, 0, 0, 0.50);
    }
    
    .project-thumb-footer{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 45px;
      width: 100%;
      color: white;
      background: rgba(0, 0, 0, 0.3);
      border-radius: 0px 0px 5px 5px;
    }
    
    // CREATE PROJECT
    
    .create-project-thumb{
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 150px;
      background: #E2E4E6;
      border-radius: 5px;
      cursor: pointer;
    }
    
    .create-project-thumb-body{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      border-bottom: 1px solid rgba(0, 0, 0, 0.50);
    }
    
    .create-project-thumb-icon{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      height: 60%;
      background: grey;
      border-radius: 100px;
      content: "+";
      font-size: 40px;
      color: white;
    }
    
    .create-project-thumb-footer{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 45px;
      width: 100%;
      color: #444;
      font-weight: bold;

      label{
        font-size: 1em;
        padding-left: 2%;
        padding-right: 2%;
      }
    }

    @media only screen and (max-width: 400px) {
      .projects-list{
        grid-template-columns: 1fr;
        padding: 0px;
      }
    }